In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/Netzeinspeisung_2019.csv")

In [4]:
df

                                      ;Datum;Von;bis;MW
Maximum;13.02.2019;18:45;19:00;18821                0.0
Minimum;23.06.2019;06:15;06:30;6203                 0.0
Datum;"Von";"bis";"MW";                             NaN
01.01.2019;00:00;00:15;12.899;                      NaN
01.01.2019;00:15;00:30;12.399;                      NaN
...                                                 ...
31.12.2019;22:45;23:00;11.088;                      NaN
31.12.2019;23:00;23:15;10.406;                      NaN
31.12.2019;23:15;23:30;10.224;                      NaN
31.12.2019;23:30;23:45;10.213;                      NaN
31.12.2019;23:45;00:00;10.292;                      NaN

[35043 rows x 1 columns]